<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="../img/mercadoLiebre.svg" alt="Mercado liebre logo"></img>

        <form action=“/“ method=“get” id="barra-de-busqueda">
            <input type=“search” name=“q“ id=“query” placeholder="Buscar productos, marcas y más">
            <button type=“submit”><i class="fa-solid fa-search"></i></button>
        </form>

        <p id="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <div id="navbar">
            <nav id="site-navbar">
                <a href="#" target="_blank" title="Ofertas">Ofertas</a>
                <a href="#" target="_blank" title="Tiendas Oficiales">Tiendas Oficiales</a>
                <a href="#" target="_blank" title="Vender">Vender</a>
                <a href="#" target="_blank" title="Ayuda">Ayuda</a>
            </nav>
            <nav id="log-in-navbar">
                    <a href="/register" target="_blank" title="Creá tu cuenta">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a>
                    <a href="/login" target="_blank" title="Ingresá">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a>
                    <a href="#" target="_blank" title="Mis compras">Mis compras<i class="fa-solid fa-basket-shopping"></i></a>
            </nav>
            <nav id="burger-menu">
                <a class="fas fa-bars" href="" target="_blank"></a>
            </nav>
        </div>
        
        <picture id="imagen-banner"><img src="../img/banner.jpg" alt="Un banner"></img></picture>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <ul>
                <li>
                    <picture class="imagen-cafetera"><img width= "375" src="../img/cafetera.jpg" alt="Cafetera Moulinex"></img></picture>
                    <article>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </article>
                </li>
                <li>
                    <picture class="imagen-macbook"><img width= "375" src="../img/macbook.jpg" alt="MacBook Pro 2019"></img></picture>
                    <article>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </article>
                </li>
                <li>
                    <picture class="imagen-s10"><img width= "375" src="../img/s10.jpg" alt="Samsung Galaxy S10"></img></picture>
                    <article>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </article>
                </li>
                <li>
                    <picture class="imagen-tv"><img width= "375" src="../img/tv.jpg" alt='SmartTv Samsung 43"'></img></picture>
                    <article>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </article>
                </li>
            </ul>
        </section>
        <section>
            <h2>Ofertas</h2>
            <ul>
                <li>
                    <picture class="imagen-cafetera"><img width= "375" src="../img/cafetera.jpg" alt="Cafetera Moulinex"></img></picture>
                    <article>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </article>
                </li>
                <li>
                    <picture class="imagen-macbook"><img width= "375" src="../img/macbook.jpg" alt="MacBook Pro 2019"></img></picture>
                    <article>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </article>
                </li>
                <li>
                    <picture class="imagen-s10"><img width= "375" src="../img/s10.jpg" alt="Samsung Galaxy S10"></img></picture>
                    <article>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </article>
                </li>
                <li>
                    <picture class="imagen-tv"><img width= "375" src="../img/tv.jpg" alt='SmartTv Samsung 43"'></img></picture>
                    <article>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </article>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <section>
            <h3 class="fa-solid fa-credit-card"></h3>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3 class="fa-solid fa-gift"></h3>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3 class="fa-solid fa-user-shield"></h3>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>