<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/register.css">
    <title>Register</title>
</head>
<body>
    <header>
        <img src="../img/mercadoLiebre.svg" alt="Mercado liebre logo" id="mercado-liebre-logo"></img>

        <form action=“#“ method=“get” id="barra-de-busqueda">
            <input type=“search” name=“q“ id=“query” placeholder="Buscar productos, marcas y más">
            <button type=“submit”><i class="fa-solid fa-search"></i></button>
        </form>

        <p id="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <div id="navbar">
            <nav id="site-navbar">
                <a href="#" target="_blank" title="Ofertas">Ofertas</a>
                <a href="#" target="_blank" title="Tiendas Oficiales">Tiendas Oficiales</a>
                <a href="#" target="_blank" title="Vender">Vender</a>
                <a href="#" target="_blank" title="Ayuda">Ayuda</a>
            </nav>
            <nav id="log-in-navbar">
                    <a href="/register" target="_blank" title="Creá tu cuenta">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a>
                    <a href="/login" target="_blank" title="Ingresá">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a>
                    <a href="#" target="_blank" title="Mis compras">Mis compras<i class="fa-solid fa-basket-shopping"></i></a>
            </nav>
            <nav id="burger-menu">
                <a class="fas fa-bars" href="" target="_blank"></a>
            </nav>
        </div>
    </header>
    <main>
        <form action="/register" method="post">

            <input type=“text” name=“nombre-y-apellido” id=“nombre-y-apellido” placeholder="Nombre y apellido" required>
          
            <input type=“username” name="nombre-de-usuario" id="nombre-de-usuario" placeholder="Nombre de Usuario" required>
          
            <input type="email" name="email" id="email" placeholder="E-mail" required>


            <label for=“nacimiento”>Fecha de Nacimiento</label>

            <input type=“date” name=“nacimiento” id=“nacimiento” required>

            <label for="domicilio">Domicilio</label>
            <input type =“text” name="domicilio" id="domicilio" placeholder="Domicilio" required>

            <fieldset id="register-perfil-del-usuario">
                <legend>Perfil del usuario:</legend>
                <label>
                    <input type="radio" name="perfil-del-usuario" value="comprador">
                    Comprador
                </label>
                <label>
                    <input type="radio" name="perfil-del-usuario" value="vendedor">
                    Vendedor
                </label>
            </fieldset>
            
            <fieldset id="register-intereses">
                <legend>Intereses(puede elegir más de una opcion)</legend>

                <label>
                    <input type="checkbox" name="categorias-de-interes" value="electro">
                    Electro
                </label>
                <label>
                    <input type="checkbox" name="categorias-de-interes" value="moda">
                    Moda
                </label>
                <label>
                    <input type="checkbox" name="categorias-de-interes" value="hogar">
                    Hogar
                </label>
                <label>
                    <input type="checkbox" name="categorias-de-interes" value="jugeteria">
                    Jugeteria
                </label>
                <label>
                    <input type="checkbox" name="categorias-de-interes" value="vida-sana">
                    Vida Sana
                </label>
            </fieldset>
            
            <label>Foto de usuario</label>
            <input type="file" name="foto-de-usuario" id="input-foto-del-usuario">
            
            <input type = “password” name = “clave” id = “clave” minlength="8" placeholder="Clave" required>
          
            <input type = “password” name = “rclave” id = “rclave” minlenght="8" placeholder="Repetir Clave" required>
          
            <button type=“submit” class="boton-de-envio">Enviar</button>
            <button type="reset" class="boton-de-borrar">Borrar</button>
        </form>
    </main>
    <footer>
        <section>
            <h3 class="fa-solid fa-credit-card"></h3>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3 class="fa-solid fa-gift"></h3>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3 class="fa-solid fa-user-shield"></h3>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section id="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>