header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #EAC926;
    margin: 0;
    padding: 0;
}

header img{
    display: flex;
    width: 50vw;
    height: auto;
    padding: 1rem;
}

header #barra-de-busqueda{
    display: flex;
    justify-content:center;
    width: 50vw;
   padding: 1rem;
    box-sizing: border-box;
}

header #barra-de-busqueda input{
    display: flex;
    flex-grow: 1;
    outline: none;
    padding: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

header #barra-de-busqueda button{
    display: flex;
    align-items: center;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

header #compra-en-cuotas{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}

header #compra-en-cuotas i{
    margin-right: 0.1875rem;
}

header #navbar{
    display:flex;
    justify-content: center;
}

header #navbar #site-navbar{
    display: none;
}

header #navbar #log-in-navbar{
    display: none;
}

header #navbar nav a{
    display: flex;
    align-items: center;
    color:black;
    text-decoration: none;
}

header #navbar #log-in-navbar a i{
    margin-left: 0.1875rem;
}

header #burger-menu{
    display: flex;
    font-size: 2em;
    margin: 1rem;
}

header #burger-menu a.fa-bars{
    border: solid 0.0625rem #1259c3;
    border-radius: 15%;
    background-color: #1259c3; 
    color:white;
    text-align: center;
    padding: 0.5rem;
}

header #imagen-banner{
    display: flex;
    width: 100vw;
}

header #imagen-banner img{
    width: 100%;
}

@media screen and (min-width: 768px){
    header img{
        width: 33vw;
    }
    header #barra-de-busqueda{
        width: 33vw;
    }
    header #compra-en-cuotas{
        width: 33vw;
    }
    header #navbar{
        flex-direction: row;
        justify-content: space-between;
        width:100vw;
    }
    header #navbar #site-navbar{
        display: flex;
    }
    header #navbar #log-in-navbar{
        display: flex;
    }
    header #navbar nav a{
        margin: 1rem;
    }
    header #burger-menu{
        display: none;
    }
}