main{
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: #ebebeb;
}

main form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70vw;
    height: 50vh;
}

main form input{
    display: flex;
    outline: none;
    padding: 1rem;
    border-radius: 5px;
}

main form button{
    color: white;
    display: flex;
    background-color: #1259c3;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color .5s;
}

main form button:hover{
    background-color: #0022AA;
}